:root {
	--mainColorText: #2d3436;
	--colorContent: #fff;
	--colorActive: #6c5ce7;
	--decorCircleColor: #fdcb6e;
	--secondaryColor: #adadad;
}

body * {
	font-family: 'Inter', sans-serif;
	font-style: normal;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.btn {
	font-weight: 700;
	letter-spacing: 0.2px;
	color: var(--colorActive);
	border: 1px solid var(--secondaryColor);
}

.btn:hover {
	text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
		0px 4px 8px rgba(38, 50, 56, 0.08);
	background-color: var(--colorActive);
	color: var(--colorContent);
	transition: all ease 0.6s;
	border: none;
}

.header {
	box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16);
}

.header-container {
	padding: 16px 5%;
	display: grid;
	grid-template-columns: 70px 1fr 12fr 113px;
	place-items: center;
}

.header__logo {
	padding-top: 10px;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1px;
	color: var(--mainColorText);
}

.header__nav {
	padding: 0 10px;
	width: 100%;
	position: relative;
}

.header__burger {
	display: none;
	cursor: pointer;
}

.header__menu {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	place-content: center;
}

.header__link {
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: var(--colorActive);
	position: relative;
}

.header__item {
	position: relative;
}

.header__item:not(.header__item:nth-child(4))::after {
	content: '';
	background-color: var(--decorCircleColor);
	position: absolute;
	right: 12%;
	top: 45%;
	height: 5px;
	width: 5px;
	border-radius: 50%;
}

:is(.header__link_active, .header__link:hover) {
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: var(--mainColorText);
	transition: all ease 0.6s;
}

.header__btn {
	border-radius: 50px;
	padding: 12px 28px;
	border: 1px solid var(--secondaryColor);
}

@media screen and (max-width: 1064px) {
	.header-container {
		grid-template-columns: 1fr 12fr 3fr;
	}

	.header__menu {
		grid-template-columns: repeat(4, 137px);
	}

	.header__icon {
		display: none;
	}
	.header__item:not(.header__item:nth-child(4))::after {
		right: 9%;
	}
}

@media screen and (max-width: 863px) {
	.header-container {
		grid-template-columns: 1fr 2fr 1fr;
	}

	.header__logo {
		padding-top: 0;
	}

	.header__nav {
		order: -1;
		width: auto;
	}

	.header__menu {
		position: absolute;
		top: 50px;
		left: 10px;
		display: none;
		grid-template-columns: 120px;
		grid-template-rows: repeat(4, 1fr);
		grid-row-gap: 5px;
		border: 1px solid var(--secondaryColor);
		border-radius: 8px;
		padding: 70px 5px;
		animation: burgerShow 0.8s ease-in;
	}

	.header__burger {
		display: block;
	}

	.header__item::after {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.header-container {
		grid-template-columns: 1fr 2fr 2fr;
	}

	.header__logo {
		font-size: 24px;
	}
	.header__btn {
		font-size: 18px;
		border-radius: 8px;
	}
}

@keyframes burgerShow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}
